.options {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin-bottom: 50px;
}
.options-container {
	display: flex;
	flex-direction: column;
	width: 90%;
}
.option-btn {
	padding: 10px;
	margin: 5px;
	background: #f34b2d;
	border-radius: 5px;
	font-family: Poppins;
	color: #fff;
	font-size: 18px;
	outline: none;
	border: none;
}
.option-btn.correct {
	background-color: #3cb371;
}
.option-btn.red {
	background-color: #dc143c;
}
.display {
	font-size: 22px;

	color: #fff;
}
.display-container {
	margin-top: 15px;
	padding: 10px;
}
.progress {
	align-self: flex-start;
	margin-bottom: 20px;
	margin-left: 30px;
	font-size: 18px;
	font-family: Poppins;
	color: #fff;
}
