.options {
	display: flex;
	justify-content: center;
	padding: 50px;
}
.options-container {
	display: flex;
	flex-direction: column;
	width: 70%;
}
.option-btn {
	padding: 10px;
	margin: 5px;
	background: rgb(248, 54, 6);
	border-radius: 5px;
	font-family: Poppins;
	color: #fff;
	font-size: 18px;
	border: none;
}
.option-btn.correct {
	background-color: green;
}
.option-btn.red {
	background-color: red;
}
.display {
	font-size: 24px;
	margin-bottom: 25px;
	color: #fff;
}
.display-container {
	padding: 10px;
}
